REQUIREMENTS:

21.10.2019 - Iteration 0
+ Working html page
+ Empty canvas element with one 'patyczak'
+ Adding backend server, which will receive a message on user opening website

=============================================================================================================
24.10.2019 - Iteration 1 - PLAYER MOVEMENT

COMMENTS:
Requirements from now on will be divided into front/back end

FRONT:
+ Given user input (for now arrows, but consider possibility of extending to touch screen)
  send messages CTS_KEYDOWN to server with indicated direction of movement
+ Render player, based on server response

BACK:
+ Process CTS_KEYDOWN message, and respond with STC_POSITION which will indicate
  current position of player.
+ Player position will be limited by canvas dimensions.
+ Fix bug which requires server restart on webpage refresh.

=============================================================================================================
30.10.2019 - Iteration 2 - LOCAL ONE TAB MULTIPLAYER

FRONT:
+ Add start menu.
+ Menu allow to choose amount of players in current tab [1 or 2].
+ Add in that start menu key mapping should be shown, with sane default values [arrows, wsad].
+ Players' name should be displayed

BACK:
+ Players should start in random position.
+ Players are able to move.

=============================================================================================================
04.11.2019 - Iteration 3 - BULLETS

FRONT:
+ Add simple bullet asset downloading
- Add fire keydown to key mapping
- On fire keydown CTS_PLAYER_FIRE {name: player.name, dir: left} msg should be emitted. Direction of the bullet
  is the same as player's last movement direction.

BACK:
+ Add simple bullet asset
- On CTS_PLAYER_FIRE bullet should start to be rendered.
- Bullet should propagate with constant velocity in direction specified by CTS_PLAYER_FIRE.

