REQUIREMENTS:

21.10.2019 - Iteration 0
+ Working html page
+ Empty canvas element with one 'patyczak'
+ Adding backend server, which will receive a message on user opening website

=============================================================================================================
24.10.2019 - Iteration 1 - PLAYER MOVEMENT

COMMENTS:
Requirements from now on will be divided into front/back end

FRONT:
+ Given user input (for now arrows, but consider possibility of extending to touch screen)
  send messages CTS_KEYDOWN to server with indicated direction of movement
+ Render player, based on server response

BACK:
+ Process CTS_KEYDOWN message, and respond with STC_POSITION which will indicate
  current position of player.
+ Player position will be limited by canvas dimensions.
+ Fix bug which requires server restart on webpage refresh.

=============================================================================================================
30.10.2019 - Iteration 2 - LOCAL ONE TAB MULTIPLAYER

FRONT:
- Add start menu which will allow to choose amount of players in current tab [1 or 2].
- Add in that start menu key mapping should be shown, with sane default values [arrows, wsad].
- Players should differ with color

BACK:
+ Players should start in random position.

